h1 {
    font-family: 'Baloo Chettan 2', cursive;
    font-size: 4em;
}

.score {
    background-color: paleturquoise;
    border-radius: 50%;
    padding: 40px;
    padding-top: 70px;
    width: 300px;
    height: 300px;
    text-align: center;
    font-size: 2em;
    color: #FFF;
}